{% extends "base.html" %}
{% block content %}
{{ form.media }}
<h2>Articles</h2>

<a href="{% url 'article_list' %}" class="btn">← Back to Article</a>



<div class="form-container">
  <h2>
    {% if is_edit %}Edit Article{% else %}Create Article{% endif %}
  </h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
 

    <div class="form-group">
      {{ form.title.label_tag }}
      {{ form.title }}
      <small class="help-text">{{ form.title.help_text }}</small>
      {% if form.title.errors %}
          <div class="error">{{ form.title.errors }}</div>
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.subtitle.label_tag }}
      {{ form.subtitle }}
      <small class="help-text">{{ form.subtitle.help_text }}</small>
      {% if form.subtitle.errors %}
          <div class="error">{{ form.subtitle.errors }}</div>
      {% endif %}
    </div>

    {% if form.slug %}
    <div class="form-group">
      {{ form.slug.label_tag }}
      {{ form.slug }}
      <small class="help-text">{{ form.slug.help_text }}</small>
    </div>
    {% endif %}

    <div class="form-group">
        {{ form.image.label_tag }}
        
        <div class="input-file-container">
            {{ form.image }}
        </div>

        <div id="imagePreview" class="mt-2">
            {% if is_edit and form.instance.image %}
                <div class="preview-wrapper" style="position:relative; display:inline-block;">
                    <img src="{{ form.instance.image.url }}" 
                        style="max-width:200px; max-height:150px; border-radius:4px; border:1px solid #ddd;">
                    <span class="remove-image">×</span>
                </div>
            {% else %}
                <p class="no-image text-muted">No image selected</p>
            {% endif %}
        </div>
        
        <input type="hidden" name="remove_image" id="remove_image" value="0">
    </div>



    <div class="form-group">
      {{ form.content.label_tag }}
      {{ form.content }}
    </div>

    <div class="form-group">
      {{ form.show_on_homepage.label_tag }}
      {{ form.show_on_homepage }}
    </div>

    <div class="form-group checkbox-group">
        <label for="{{ form.is_active.id_for_label }}">
            {{ form.is_active }} {{ form.is_active.label }}
        </label>
    </div>



    <div class="form-actions">
      <button type="submit" class="btn">
        {% if is_edit %}Update{% else %}Create{% endif %}
      </button>
      <a href="{% url 'article_list' %}" class="btn-cancel">Cancel</a>
    </div>
  </form>
</div>


{% endblock %}
